
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body{
    width:100%;
    height:100%;
    margin:0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-wrapper{
    width:100%;
    height:100%;
    background:url(https://i.imgur.com/2ZgHKbQ.jpg) center no-repeat;
    background-size:cover;
}

.blur{
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

a.btn{
    width:150px;
    display:block;
    margin:-25px 0 0 -75px;
    padding:15px 0;
    position:absolute;
    top:50%; left:50%;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    color:#fff;
    border-radius:5px;
    background:rgba(217,67,86,1);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.modal-wrapper{
    width:100%;
    height:100%;
    position:fixed;
    top:0; left:0;
    background:rgba(255,255,255,0.60);
    visibility:hidden;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
    opacity:1;
    visibility:visible;
}

.modal{
    width: 500px;
    display:block;
    margin-left: -250px;
    position:relative;
    top:30%;
    left:50%;
    background:#fff;
    opacity:0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.20)
}

.modal-wrapper.open .modal{
    margin-top:-200px;
    opacity:1;
}

.toggle{
    position: absolute;
    top: -0;
    right: -30px;
}

.btn-close{
    width:32px;
    height:32px;
    display:block;
    float:right;
}

.btn-close::before, .btn-close::after{
    content:'';
    width:32px;
    height:6px;
    display:block;
    background:#fff;
}

.btn-close::before{
    margin-top:12px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.btn-close::after{
    margin-top:-6px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.content{
    padding:80px;
    text-align: center;
}

.title h3{
    font-size: 24px;
    color: #253238;
    margin: 0;
    font-weight: normal;
    padding-bottom: 40px;
}

.info{
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #253238;
    font-weight: lighter;
    margin: 0;
}

.social-buttons{
    display: inline-block;
    padding-bottom: 40px;
}

.fa{
    margin-right: 10px;
    font-size: 20px;
    width: 20px;
}

.fa.fa-facebook-square{
 color: #3B5998;
}

a{
    text-decoration: none;
}

.button{
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 115px;
}

.button span{
    font-size: 16px;
    font-weight: 500;
    color: #253238;
}

.form-group{
    width: 336px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    margin-bottom: 40px;
}

.form-control{
    display: block;
    padding: 20px 20px;
    border: none;
    outline: none;
    width: 296px;

}

input[type="user"]::-webkit-input-placeholder {
    color: #253238; !important;
    font-size: 16px; !important;
}

input[type="user"]:-moz-placeholder {
    color: #253238; !important;
    font-size: 16px; !important;
}

input[type="user"]::-moz-placeholder {
    color: #253238; !important;
    font-size: 16px; !important;

}

input[type="password"]:-ms-input-placeholder {
    color: #9b9b9b; !important;
    font-size: 14px; !important;
}

input[type="password"]::-webkit-input-placeholder {
    color: #9b9b9b; !important;
    font-size: 14px; !important;
}

input[type="password"]:-moz-placeholder {
    color: #9b9b9b; !important;
    font-size: 14px; !important;
}

input[type="password"]::-moz-placeholder {
    color: #9b9b9b; !important;
    font-size: 14px; !important;

}

input[type="password"]:-ms-input-placeholder {
    color: #9b9b9b; !important;
    font-size: 14px; !important;
}

.form-control.user {
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: normal;
    color: #253238;
}

.form-control.password {
    font-size: 14px;
    font-weight: lighter;
    color: #9b9b9b;
}



.btn-login{
    background-color: #00BCD4;
    width: 338px;
    display:block;
    padding:10px 0;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    margin-bottom: 20px;
}

.footer{
    text-align: right;
}

.recover{
    font-size: 14px;
    color: #00BCD4;
    margin-bottom: 40px;
}

.blue-link{
    font-size: 14px;
    color: #00BCD4;
}

p{
    margin: 0;
    font-size: 14px;
    color: #9b9b9b;
}





